body {
    margin-top: 80px;
    background-image: url(./easterbg.jpg);
    background-size: cover;
    font-size: 4.5em;
    font-family: "Determination Mono Web";
    text-align: center;
    color: #222;
    text-stroke: 2px;
} 



input {
    background-color: #444;
    width: 6.5em;
    font-size: 1em;
    font-family: "Determination Mono Web";
    text-align: center;
    border: 4px solid;
    margin-top: 12px;
}


form {
    width: max-content;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    background-color: #ffffff66;
    padding: 16px 32px
}

#btns {
    display: flex;
    justify-content: space-around;
    margin-top: 18px;
}

#btns button {
    all: unset;
    font-size: 0.7em;
}

#btns button:hover {
    cursor: pointer;
}
