body {
    background-image: url("./gambar/easterbg2.jpg");
    background-size: cover;
}

.titlearea {
	text-align: center;
	background-color: #fff9;
} .titlearea h1 { font-size: 64px; padding-top: 18px; margin-bottom: 2px; }

h2{
	font-family: sans-serif;
	font-weight: normal;
	padding-bottom: 24px;
} #by {font-size: 20px; color: #666}

.isi-slider img { 
	visibility: hidden;
	width: 768px;
	height: 450px;
	position: absolute;
	margin-top: 80px;
	right: 24px;
	border: 10px solid #ededed;
}

.hidden {visibility: hidden; transition: all 2s;}