body {
    background-image: url("./gambar/easterbg2.jpg");
    background-size: cover;
    margin: 0;
}

.titlearea {
	text-align: center;
	background-color: #fff9;
	padding: 4px 0;
	margin-top: 48px;
} .titlearea h1 { font-size: 64px;  margin-bottom: 2px; margin-top: 32px;}

h2{
	font-family: sans-serif;
	font-weight: 500;
	margin-bottom: 40px;
	font-size: 56px;
	color: #ffe761;
	background-color: #4448;
} #by {font-size: 20px; color: #333;}

.isi-slider img { 
	visibility: hidden;
	width: 921.5999999999999px;
	height: 540px;
	position: absolute;
	margin-top: 76px;
	left: 50%;
	transform: translate(-50%);
	border: 10px solid #ededed;
	object-fit: cover;
}

.hidden {visibility: hidden; transition: all 2s;}
